### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Player Count

* Display the total number of players

In [3]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
unique_sn=purchase_data['SN'].nunique()
print(unique_sn)

576

In [5]:
header1 ={"Total Players": unique_sn}

player_count_df = pd.DataFrame([header1])
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_item=purchase_data['Item ID'].nunique()
print(unique_item)

avg_price=purchase_data['Price'].mean()
print(avg_price)

purchases=purchase_data['Item ID'].count()
print(purchases)

revenue = purchase_data['Price'].sum()
print(revenue)

183
3.050987179487176
780
2379.77

In [7]:
header2 ={"Number of Unique Items": unique_item,
          "Average Price": avg_price,
          "Number of Purchases": purchases,
          "Total Revenue": revenue}

purchasing_analysis_df = pd.DataFrame([header2])
purchasing_analysis_df=purchasing_analysis_df[['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']]

purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df.apply(lambda x: "${:,}".format(x['Total Revenue']), axis=1)
purchasing_analysis_df['Average Price'] = purchasing_analysis_df.apply(lambda x: "${:.2f}".format(x['Average Price']), axis=1)

purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
gender_count1=purchase_data["Gender"].value_counts()
#print(gender_count)
gender_count=purchase_data.groupby('Gender')["SN"].nunique()
#print(gender_count)
gender_pct=gender_count1/purchases*100
#print (gender_pct)

header3 ={"Total Count": gender_count,
          "Percentage of Players": gender_pct}
         
gender_demographics_df = pd.DataFrame(header3)

gender_demographics_df=gender_demographics_df[['Total Count', 'Percentage of Players']]
gender_demographics_df['Percentage of Players'] = gender_demographics_df.apply(lambda x: "{:.2f}".format(x['Percentage of Players']), axis=1)
#gender_demographics_df.set_index(['Gender'])
gender_demographics_df

#gender_demographics_df = purchase_data,columns=['Purchase ID','Age'] 
#gender_demographics_df=gender_demographics_df[['Total Count', 'Percentage of Players']]

#gender_demographics_df

#grouped_gender_df = purchase_data.groupby(['Gender'])

#del grouped_gender['Avg'] 

# Gender', 'Item ID', 'Item Name', 'Price']
#print(grouped_gender)
#grouped_gender_df.count().head()

#gender_demo_pd = purchase_data.set_index('Gender')
#gender_demo_pd.head()

                       Total Count Percentage of Players
Female                          81                 14.49
Male                           484                 83.59
Other / Non-Disclosed           11                  1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
gender_purchase_count = purchase_data.groupby(['Gender']).count()['Purchase ID']
#print(gender_purchase_count)
avg_purchase_price= purchase_data.groupby(['Gender']).mean()['Price']
#print(avg_purchase_price)
gender_total_purchase= purchase_data.groupby(['Gender']).sum()['Price']
#print (gender_total_purchase)
avg_total_purchase_pp= gender_total_purchase/gender_count
#print(avg_total_purchase_pp)

header4 ={"Purchase Count": gender_purchase_count,
          "Average Purchase Price": avg_purchase_price,
         "Total Purchase Value": gender_total_purchase,
          "Avg Total Purchase per Person": avg_total_purchase_pp}

purchase_analysis_df = pd.DataFrame(header4)

purchase_analysis_df=purchase_analysis_df[['Purchase Count',
                                           'Average Purchase Price',
                                          'Total Purchase Value',
                                          'Avg Total Purchase per Person']]

purchase_analysis_df['Total Purchase Value'] = purchase_analysis_df.apply(lambda x: "${:,.2f}".format(x['Total Purchase Value']), axis=1)
purchase_analysis_df['Average Purchase Price'] = purchase_analysis_df.apply(lambda x: "${:.2f}".format(x['Average Purchase Price']), axis=1)
purchase_analysis_df['Avg Total Purchase per Person'] = purchase_analysis_df.apply(lambda x: "${:.2f}".format(x['Avg Total Purchase per Person']), axis=1)


purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
bins = [0, 9 , 14, 19, 24, 29, 34, 39, 50]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

#purchase_data['Range'] = pd.cut(purchase_data['Age'],bins, labels=group_names)
#purchase_data.head()


age_count1=purchase_data["Age"].value_counts()
#print(age_count1)
age_count=purchase_data.groupby('Age')["SN"].nunique()
#print(age_count)
age_pct=age_count1/purchases*100
#print (age_pct)

header5 ={"Total Count": age_count,
          "Percentage of Players": age_pct}
         #"Range": range}
         
gender_demographics_df = pd.DataFrame(header5)

#gender_demographics_df=gender_demographics_df[['Total Count', 'Percentage of Players']]
#gender_demographics_df['Percentage of Players'] = gender_demographics_df.apply(lambda x: "{:.2f}".format(x['Percentage of Players']), axis=1)

gender_demographics_df

#pd.cut(purchase_data["Age"], bins, labels=group_names).head()
#purchase_data["Age Group"]= pd.cut(purchase_data["Age"],bins,labels = group_names)
#purchase_data.head()

    Total Count  Percentage of Players
7             7               1.153846
8             6               1.025641
9             4               0.769231
10            7               1.153846
11            6               0.897436
12            4               0.769231
13            3               0.512821
14            2               0.256410
15           26               4.487179
16           24               3.846154
17           19               2.820513
18           21               3.333333
19           17               2.948718
20           69              12.692308
21           43               7.948718
22           49               8.974359
23           49               8.589744
24           48               8.589744
25           43               7.564103
26           11               1.794872
27            9               1.282051
28            4               0.641026
29           10               1.666667
30           25               4.487179
31            5               0.897436
32            6               1.025641
33            9               1.794872
34            7               1.153846
35           10               1.794872
36            5               0.641026
37            5               0.897436
38            5               1.153846
39            6               0.769231
40            5               0.769231
41            2               0.256410
42            1               0.128205
43            1               0.128205
44            2               0.256410
45            1               0.128205

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1]:
bins = [0, 9 , 14, 19, 24, 29, 34, 39, 50]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

#bins = pd.cut(purchase_data['Age'], [0, 9 , 14, 19, 24, 29, 34, 39, 50])


age_purchase_count = purchase_data.groupby(['Age']).count()['Purchase ID']
#print(age_purchase_count)
avg_purchase_price= purchase_data.groupby(['Age']).mean()['Price']
#print(avg_purchase_price)
age_total_purchase= purchase_data.groupby(['Age']).sum()['Price']
#print (gender_total_purchase)
avg_total_purchase_pp= age_total_purchase/gender_count
#print(avg_total_purchase_pp)

header4 ={"Purchase Count": gender_purchase_count,
          "Average Purchase Price": avg_purchase_price,
          "Total Purchase Value": gender_total_purchase,
           "Avg Total Purchase per Person": avg_total_purchase_pp}

purchase_analysis_df = pd.DataFrame(header4)

purchase_analysis_df=purchase_analysis_df[['Purchase Count',
                                           'Average Purchase Price',
                                          'Total Purchase Value',
                                          'Avg Total Purchase per Person']]

purchase_analysis_df['Total Purchase Value'] = purchase_analysis_df.apply(lambda x: "${:,.2f}".format(x['Total Purchase Value']), axis=1)
purchase_analysis_df['Average Purchase Price'] = purchase_analysis_df.apply(lambda x: "${:.2f}".format(x['Average Purchase Price']), axis=1)
purchase_analysis_df['Avg Total Purchase per Person'] = purchase_analysis_df.apply(lambda x: "${:.2f}".format(x['Avg Total Purchase per Person']), axis=1)

purchase_analysis_df.head()

NameError: name 'purchase_data' is not defined

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [4]:
user_purchase_count = purchase_data.groupby('SN').count()['Purchase ID']
#print(user_purchase_count)
avg_user_purchase_price= purchase_data.groupby(['SN']).mean()['Price']
#print(avg_user_purchase_price)
user_total_purchase= purchase_data.groupby(['SN']).sum()['Price']
#print (user_total_purchase)


header6 ={"Purchase Count": user_purchase_count,
          "Average Purchase Price": avg_user_purchase_price,
         "Total Purchase Value": user_total_purchase}

top_spenders_df = pd.DataFrame(header6)

top_spenders_df=top_spenders_df[['Purchase Count',
                                'Average Purchase Price',
                                'Total Purchase Value']]


top_spenders_df['Average Purchase Price'] = top_spenders_df.apply(lambda x: "${:.2f}".format(x['Average Purchase Price']), axis=1)

top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()

NameError: name 'purchase_data' is not defined

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [3]:
item_purchase_count = purchase_data.groupby(['Item ID','Item Name','Price']).count()['Purchase ID']
#print(item_purchase_count)

#popular_price = purchase_data.groupby(['SN']).mean()['Price']
#print(avg_user_purchase_price)

item_total_purchase= purchase_data.groupby(['Item ID']).sum()['Price']
#print (item_total_purchase)


header7 ={"Purchase Count": item_purchase_count,
         # "Item Price": Price,
          #"Item Name": Item Name,
         "Total Purchase Value": item_total_purchase}

most_popular_df = pd.DataFrame(header7)

#most_popular_df=most_popular_df[['Purchase Count','Average Purchase Price','Total Purchase Value']]
most_popular_df.describe

#most_popular_df['Average Purchase Price'] = most_popular_df.apply(lambda x: "${:.2f}".format(x['Average Purchase Price']), axis=1)

#most_popular_df.sort_values('Total Purchase Value', ascending=False).head()

NameError: name 'purchase_data' is not defined

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame